@import url("https://fonts.cdnfonts.com/css/zapfino");
.birthday-background-header {
  background-image: url("https://res.cloudinary.com/dy2gsniki/image/upload/v1699435625/bday-party_1_g7bizj.jpg");
  width: 100vw;
  background-size: cover;
  height: 80vh;
  box-shadow: 10px 10px #fff;
  background-color: #fff;
}
.order-online-img {
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: flex-end;
}
.birthday-page-heading {
  text-transform: uppercase;
  color: #e61a39;
  font-size: 31px;
  font-weight: 800;
}
.birthday-page-para {
  font-size: 14px;
  color: #333333;
  font-weight: 700;
}
