@tailwind base;
@tailwind components;
@tailwind utilities;
.dd-navbar {
  position: sticky;
  top: 0px;
  z-index: 100;
  width: 100vw;
}
.cat-navbar {
  position: sticky;
  top: 80px;
  z-index: 100;
  width: 100vw;
}
.logo {
  height: 80px;
  width: 90px;
  cursor: pointer;
}
.nav-color {
  color: #ffffff !important;
}
.ul-content {
  color: #5f88a3;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}
.background-header {
  background-image: url("https://res.cloudinary.com/dy2gsniki/image/upload/v1696570976/nlusa8hatkibf3jrvxot.jpg");
  width: 100vw;
  background-size: cover;
  height: 25vh;
  box-shadow: 10px 10px #fff;
  background-color: #fff;
}
.onine-order-button {
  width: 20em;
  border: 0;
  height: 3em;
  border-radius: 2px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  box-shadow:
    0 2px 2px 0 #024389,
    0 0 2px 0 rgba(0, 0, 0, 0.12);
  font-weight: 600;
  border-radius: 5px;
}
.home {
  color: #0369a1;
  font-size: 14;
  font-weight: 300;
  cursor: pointer;
}
.home:hover {
  text-decoration: underline;
}
.coupons-offers {
  margin: 50px 90px 100px 90px;
}
.carousel-title {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.31;
  color: #708aa5;
  text-transform: none;
  margin-bottom: 20px;
}
.image {
  height: 200px;
  width: 2000px;
}
.carousel .slick-arrow.slick-prev,
.carousel .slick-arrow.slick-next {
  background: #fcfcfc;
  width: 35px;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  box-shadow: 1px 2px 10px -1px rgb(0 0 0 / 30%);
}
.carousel .slick-prev {
  left: 0;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
}
.carousel .slick-next {
  right: 0;
  border-bottom-left-radius: 45px;
  border-top-left-radius: 45px;
}
.slick-prev::before,
.slick-next::before {
  display: none;
}
.explore-img {
  width: 60px;
  height: 80px;
}
.explore-heading {
  font-size: 19px;
  letter-spacing: 0.21;
  color: #2b4547;
}
.explore-content {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.21;
  text-align: center;
  color: #2b4547;
}
.header-text {
  position: absolute;
  top: 35%;
  left: 30%;
  text-align: center;
}
.carousel-text-outer-container {
  position: relative;
}
.header-text {
  font-size: 56px;
  color: #ffffff;
  font-weight: 700;
}
.Catering-container h1 {
  font-size: 46px;
  font-weight: 600;
  font-family: Playfair Display;
  color: #000000;
}
.catering-span {
  color: #d5a632;
}
.Catering-container h2 {
  font-size: 58px;
  font-weight: 600;
  font-family: Playfair Display;
  color: #d5a632;
}
.Catering-container p {
  font-size: 18px;
  font-weight: 600;
  font-family: Poppins;
  color: #000000;
}
.caution {
  padding: 10px 40px;
  width: 33%;
}
.prevention-img img {
  width: 60px;
  height: auto;
}
.prevention-img h6 {
  font-size: 17px;
  margin: 0px 0px 8px;
  padding: 5px 0px;
}
.Hygiene-span {
  color: #ffffff;
  padding: 0px 15px 5px;
  background: linear-gradient(45deg, #4db351, #cbbe52);
  border-radius: 30px;
}
.Hygiene-h4 {
  font-size: 26px;
}
.prev-img {
  height: 75vh;
}
.btn-black {
  background-color: #000000;
  width: 180px;
  height: 60px;
  border-radius: 30px;
  text-align: center;
  color: #ffffff;
}
.btn-black a {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
}
.button {
  width: 320px;
}
.cat-img {
  height: 50vh;
  border-radius: 25px;
}
#text-size {
  font-size: 46px;
}
.flex-item {
  display: flex;
  flex-direction: column;
}
.submit-btn {
  background: #000000;
  color: #ffffff;
  font-size: 17px;
  padding: 12px;
  border-radius: 35px;
  width: 120px;
  margin-top: 15px;
}
.Row {
  margin-bottom: 30px;
  margin-right: -15px;
  margin-left: -15px;
}
.col-md-2 {
  width: 16.66666667%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  color: #33373d;
}
.widget {
  margin-bottom: 30px;
  transition: all 0.4s;
  background: #fff;
  box-shadow: 0 1px 2px #d9dadb;
  border-radius: 0.28571429rem;
}
.widget .widget-heading {
  padding: 13px 20px 30px;
  color: #fff;
  border-bottom: 1px solid #eee;
}
.widget .widget-heading .widget-title {
  font-size: 16px;
  font-weight: 500;
  float: left;
  margin-top: 0;
  margin-bottom: 0;
}
.text-dark {
  color: #212121 !important;
}
.widget .widget-body {
  padding: 20px;
  border-radius: 2px;
}
.citylist-ul {
  padding-left: 0;
  list-style-type: none;
  overflow-y: scroll;
  height: 500px;
  overflow-x: hidden;
  width: 110%;
}
strong {
  font-weight: 700;
}
a.citylink {
  padding-right: 2%;
  color: #33373d;
  font-weight: 400;
  text-decoration: none;
}
.stores-container-img {
  border-radius: 6px;
  height: 160px;
  width: 350px;
}
.stores-container {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.stores-container h5 {
  font-size: 26px;
  color: #e61a39;
  margin-bottom: 0;
  font-weight: 700;
}
.stores-container h6 {
  color: #33373d;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 0;
}
.stores-container p {
  color: #89959b;
  margin: 0 0 10px;
  font-size: 12px;
  height: auto;
}
.row-container {
  border-bottom: 1px solid #eee;
}
.span-heading {
  text-transform: uppercase;
  letter-spacing: 0.01em;
  font-size: 12px;
  color: #89959b;
  position: relative;
  min-height: 1px;
  padding-right: 35px;
  padding-left: 35px;
}
.span-heading-text {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.6em;
  color: #33373d;
  position: relative;
  min-height: 1px;
  padding-right: 35px;
  padding-left: 35px;
}
.panel-body {
  padding: 15px;
}
.stores-btn {
  width: 215px;
  height: 60px;
  border-right: 1px solid #b1b1b1;
  background-color: #e61a39;
  flex-grow: 1;
  color: #fff;
}
.city-container {
  position: sticky;
  top: 100px;
  left: 20px;
  z-index: 90;
}
.model-header-para {
  font-weight: 600;
  font-size: 18px;
  margin: 0 0 10px;
  text-align: center;
}
.like {
  font-size: 1.5rem;
}
.card-heading {
  flex-basis: auto;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: 600;
}
.card-para {
  flex-basis: auto;
  line-height: 1.2;
  font-size: 0.875rem;
  color: rgba(122, 122, 122, 0.87);
  margin-top: 0.5rem;
  margin-bottom: 0px;
  padding-bottom: 10px;
  height: 52px;
  max-width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
.flex-fill option {
  font-size: 11px;
  color: rgb(53, 53, 53);
  display: flex;
  font-weight: 700;
}
.product-options {
  font-size: 11px;
  color: rgb(53, 53, 53);
  display: flex;
  font-weight: 700;
  outline: none;
}
.flex-fill label {
  font-size: 11px;
  color: rgba(122, 122, 122, 0.87);
  font-weight: 700;
}
fieldset label {
  font-size: 16px;
  color: #e40421;
  font-weight: 600;
  margin-bottom: 6px;
}
.input {
  outline: none;
  border: 1px solid #6a7989;
  height: 40px;
  width: 100%;
}
.input::placeholder {
  padding-left: 5px;
  color: #6a7989;
  font-weight: 500;
  font-size: 16px;
}
.restaurant-options {
  padding-left: 5px;
  color: #6a7989;
  font-weight: 500;
  font-size: 16px;
}
.restaurant-options option {
  color: #6a7989;
  font-weight: 500;
  font-size: 16px;
}
#date {
  color: #6a7989;
  font-weight: 500;
  font-size: 16px;
}
input[type="date"] {
  padding-left: 5px;
}
.about-header {
  background-image: url("https://res.cloudinary.com/dy2gsniki/image/upload/v1696924252/georgia-z-JG5lgvc57qE-unsplash_wcbffh.jpg");
  width: 100vw;
  background-size: cover;
  height: 50vh;
  box-shadow: 10px 10px #fff;
  background-color: #fff;
}
.about-h2 {
  color: red;
  font-size: 60px;
}
.about-h1 {
  color: #fff;
  font-size: 90px;
}
.about-us-image {
  height: 300px;
  width: 400px;
  

}
.about-us-h3 {
  color: #d5A632;
  font-size: 60px;

}
.about-us-p {
  color: #000000;
  font: 16px Poppins;
  font-weight: 600;

}
.privacy-header {
  background-image: url("https://res.cloudinary.com/dbatijrbu/image/upload/v1698561983/1330_pcnumm.jpg");
  width: 100vw;
  background-size: cover;
  height: 60vh;
  box-shadow: 10px 10px #fff;
  background-color: #fff;
}
.privacy-conatiner h3 {
  color: #e61a39;
  margin: 15px 0px 5px;
  font-size: 24px;
  text-transform: uppercase;
  /* font-family: big-john; */
  font-weight: 750;
}
.privacy-conatiner p {
  color: #333;
  margin: 0 0 10px;
  font-size: 15px;
  /* font-family: DIN-alternate-medium; */
  font-weight: 500;
  text-align: justify;
  line-height: 1.42857143;
}
.privacy-conatiner ul li {
  color: #333;
  margin: 0 0 10px;
  font-size: 15px;
  /* font-family: DIN-alternate-medium; */
  font-weight: 500;
  text-align: justify;
  line-height: 1.42857143;
}
.accordion {
  width: 700px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding-top: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-right: 48px;
  cursor: pointer;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;

  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
}

.number {
  font-size: 24px;
  font-weight: 500;
  color: #ced4da;
}


.title,
.icon {
  font-size: 16px;
  font-weight: 500;
}
.title {
  margin-bottom: 0px;
}
.content-box {
  grid-column: 2 / -1;
  padding-bottom: 16px;
  line-height: 1.6;
}

.content-box ul {
  color: #868e96;
  margin-left: 16px;
  margin-top: 16px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* OPEN STATE */
.open {
  border-top: 4px solid #087f5b;
}

.open .number,
.open .title {
  color: #087f5b;
}
.item p {
  margin-bottom: 0px;
}
.faq-h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-top: 15px;
}
.giftcard-header {
  background-image: url("https://res.cloudinary.com/dbatijrbu/image/upload/v1698821716/giftcardbanner_wjm25p.png");
  width: 100vw;
  background-size: cover;
  height: 64vh;
  box-shadow: 10px 10px #fff;
  background-color: #fff;
}
.g-heading {
  font-size: 28px;
  color: #006699;
  padding: 28px 0px;
  text-align: center;
}
.gift-container {
  padding: 1em;
  margin: 1em;
  background-color: #EEE;
  display: inline-block;
  width: 25%;
  border: 0.1em solid #AAA;
  border-radius: 0.5em;
  vertical-align: top;
}
.gift-container h5 {
  margin-bottom: 1em;
  color: #555;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
} 
.gift-container p {
  margin: 1em 0;
  line-height: 1.5;
  min-height: 150px;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  color: #333;
}

.disclaimer h1 {
  color: rgb(0, 121, 174);
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}
.disclaimer h2 {
  font-size: 22px;
  padding: 5px 0 10px;
  color: #000000;
  font-weight: 700;
}
.disclaimer p {
  font-size: 15px;
    margin: 0 0 10px;
    color: #000000;
    font-weight: 500;
}
.disclaimer ul li {
  font-size: 15px;
    margin: 0 0 10px;
    color: #000000;
    font-weight: 500;
}

